main {
    height: calc(100vh - 110px);
}

#analysis_type {
    max-width: 300px;
}

#note {
    max-width: 450px;
    text-align: start;
}

.card-row::-webkit-scrollbar {
    display: none;
    /* -ms-overflow-style: none;
    scrollbar-width: 0px; */
}

.go-down {
    animation: bouncing 1.5s infinite;
    text-decoration: none;
    font-size: 2rem;
    transform: rotate(90deg);
}

@keyframes bouncing {
    0%, 10%, 20%, 50%, 80%, 100% {
        transform: translateY(0px);
    }
    40%, 60% {
        transform: translateY(15px);
    }
}